*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #548687;
    flex-direction: column;

}
.name{
    display:flex;
    flex-wrap: wrap;
}
.buttons{
    
    height:60vmin;
    width: 60vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #ffff27;
    border:none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    margin: 3px;
    font-size: 8vmin;
    color: #b0413e;
   
}

#reset{
   padding:0.8rem;
   font-size: 1.25rem;
   background-color: #191913;
   color: #fff;
   border: none;
   border-radius: 1rem;
}
.box1{
    padding:0.8rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border: none;
    border-radius: 1rem;
   
}

#name{
   color: #ffffc7;
   font-size: 8vmin;
   
   
}

.my{
    display: none;
}
.container {
    height: 20vmin;
  
}